In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from scipy import stats
%matplotlib inline
pd.set_option('display.max_columns', 60)

In [4]:
df = pd.DataFrame.from_csv('merged_nba_data.csv')
df.head()

,DATE,TEAMS,VENUE,FG,FGA,3P,3PA,FT,FTA,OR,DR,TOT,A,PF,ST,TO TO,BL,PTS,POSS,PACE,OEFF,DEFF,win_or_loss,points_per_poss,true_shooting_%,Off_reb_minus_TO,team_in_possession,game_id
0,2016-10-25,New York,Road,32,87,9,27,15,20,13,29,42,17,22,6,18,6,88,100.4,100.4,87.7,116.6,0,0.876494,0.459290,-5,NYK,21600001
1,2016-10-25,Cleveland,Home,45,94,13,35,14,19,11,40,51,31,22,12,15,5,117,100.4,100.4,116.6,87.7,1,1.165339,0.571512,-4,CLE,21600001
2,2016-10-25,Utah,Road,40,82,8,24,16,16,6,25,31,19,19,9,14,5,104,92.5,92.5,112.4,122.1,0,1.124324,0.584007,-8,UTA,21600002
3,2016-10-25,Portland,Home,39,75,13,19,22,22,5,29,34,22,18,5,13,3,113,92.5,92.5,122.1,112.4,1,1.221622,0.667218,-8,POR,21600002
4,2016-10-25,San Antonio,Road,47,98,12,24,23,26,21,34,55,25,19,13,14,3,129,98.8,98.8,130.6,101.2,1,1.305668,0.589364,7,SAS,21600003

In [5]:
df = pd.DataFrame.from_csv('shot_df2.csv')
df.head()

     game_id team_in_possession           type  shot_distance  shot_type
2   21600001                NYK  Driving Layup            1.0      close
3   21600001                CLE      Hook Shot            4.0      close
5   21600001                NYK      Jump Shot           20.0  mid-range
8   21600001                CLE      Jump Shot           11.0  mid-range
10  21600001                CLE      Jump Shot           25.0  3-pointer

In [6]:
df = pd.DataFrame.from_csv('shot_type.csv')
df.head()

,game_id,team_in_possession,shot_distance,shot_distance.1,shot_distance.2,shot_distance.3,shot_distance.4,shot_distance.5,shot_distance.6,shot_distance.7,shot_distance.8,shot_distance.9,shot_distance.10,shot_distance.11,shot_distance.12,shot_distance.13,shot_distance.14,shot_distance.15,shot_distance.16,shot_distance.17,shot_distance.18,shot_distance.19,shot_distance.20,shot_distance.21,shot_distance.22,shot_distance.23,shot_distance.24,shot_distance.25,shot_distance.26,shot_distance.27,shot_distance.28,shot_distance.29,shot_distance.30,shot_distance.31,shot_distance.32,shot_distance.33,shot_distance.34,shot_distance.35,shot_distance.36,shot_distance.37,shot_distance.38
type,NaN,NaN,Alley Oop Dunk,Alley Oop Layup,Driving Bank Hook Shot,Driving Bank Shot,Driving Dunk,Driving Finger Roll Layup,Driving Hook Shot,Driving Jump Shot,Driving Layup,Driving Reverse Layup,Dunk,Fadeaway Bank Shot,Fadeaway Jumper,Finger Roll Layup,Floating Jump Shot,Hook Bank Shot,Hook Shot,Jump Bank Shot,Jump Shot,Layup,Pullup Bank Shot,Pullup Jump Shot,Putback Dunk,Putback Layup,Reverse Dunk,Reverse Layup,Running Dunk,Running Finger Roll Layup,Running Hook Shot,Running Jump Shot,Running Layup,Running Reverse Layup,Step Back Jump Shot,Turnaround Bank Hook Shot,Turnaround Bank Shot,Turnaround Fadeaway,Turnaround Hook Shot,Turnaround Jump Shot,unknown
0,21600001.0,CLE,1.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,3.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,15.0,3.0,0.0,4.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,2.0,1.0,1.0,0.0,0.0,0.0,0.0,3.0,4.0
1,21600001.0,NYK,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,1.0,0.0,2.0,0.0,0.0,2.0,17.0,3.0,0.0,5.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,6.0,0.0,0.0,0.0,1.0,2.0,3.0
2,21600002.0,POR,0.0,0.0,0.0,0.0,0.0,1.0,2.0,0.0,4.0,2.0,0.0,0.0,4.0,1.0,2.0,0.0,1.0,0.0,10.0,2.0,0.0,16.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,1.0,5.0
3,21600002.0,UTA,0.0,0.0,0.0,0.0,0.0,3.0,2.0,0.0,2.0,1.0,1.0,0.0,1.0,0.0,2.0,0.0,2.0,0.0,9.0,2.0,0.0,7.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,2.0,1.0,2.0,0.0,0.0,1.0,1.0,5.0,3.0