# Pandas Data Wrangling
## 2016-2017 NBA Season 
## Michael Phillips

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from scipy import stats
%matplotlib inline

### This is the raw data. One dataframe holding team box scores for the season.

In [2]:
pd.set_option('display.max_columns', 60)
df = pd.DataFrame.from_csv('team_box_score_cleaned.csv')
df.head()

,DATE,TEAMS,VENUE,1Q,2Q,3Q,4Q,OT1,OT2,OT3,OT4,F,MIN,FG,FGA,3P,3PA,FT,FTA,OR,DR,TOT,A,PF,ST,TO,TO TO,BL,PTS,POSS,PACE,OEFF,DEFF,REST DAYS,STARTING LINEUPS1,STARTING LINEUPS2,STARTING LINEUPS3,STARTING LINEUPS4,STARTING LINEUPS5
0,2016-10-25,New York,Road,18,27,19,24,NaN,NaN,NaN,NaN,88,240,32,87,9,27,15,20,13,29,42,17,22,6,18,18,6,88,100.4,100.4,87.7,116.6,3+,Carmelo Anthony,Kristaps Porzingis,Joakim Noah,Courtney Lee,Derrick Rose
1,2016-10-25,Cleveland,Home,28,20,34,35,NaN,NaN,NaN,NaN,117,240,45,94,13,35,14,19,11,40,51,31,22,12,14,15,5,117,100.4,100.4,116.6,87.7,3+,LeBron James,Kevin Love,Tristan Thompson,JR Smith,Kyrie Irving
2,2016-10-25,Utah,Road,26,20,37,21,NaN,NaN,NaN,NaN,104,240,40,82,8,24,16,16,6,25,31,19,19,9,11,14,5,104,92.5,92.5,112.4,122.1,3+,Joe Johnson,Boris Diaw,Rudy Gobert,Rodney Hood,George Hill
3,2016-10-25,Portland,Home,26,28,23,36,NaN,NaN,NaN,NaN,113,240,39,75,13,19,22,22,5,29,34,22,18,5,12,13,3,113,92.5,92.5,122.1,112.4,3+,Maurice Harkless,Al-Farouq Aminu,Mason Plumlee,CJ McCollum,Damian Lillard
4,2016-10-25,San Antonio,Road,31,33,33,32,NaN,NaN,NaN,NaN,129,240,47,98,12,24,23,26,21,34,55,25,19,13,13,14,3,129,98.8,98.8,130.6,101.2,3+,Kawhi Leonard,LaMarcus Aldridge,Pau Gasol,Kyle Anderson,Tony Parker

### And a dataframe that has play-by-play data.

In [3]:
dfp = pd.DataFrame.from_csv('play_by_play_cleaned.csv')
dfp.head()

,game_id,date,a1,a2,a3,a4,a5,h1,h2,h3,h4,h5,period,away_score,home_score,play_id,team_in_possession,event_type,assist,away,home,block,entered,left,num,opponent,outof,player,points,possession,reason,result,steal,type,shot_distance,original_x,original_y,converted_x,converted_y,description,remaining_time_sec,elapsed_sec,play_length_sec
0,21600001,2016-10-25,Carmelo Anthony,Kristaps Porzingis,Joakim Noah,Courtney Lee,Derrick Rose,LeBron James,Kevin Love,Tristan Thompson,JR Smith,Kyrie Irving,1,0,0,0,NaN,start of period,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0,NaN,0,NaN,NaN,NaN,NaN,start of period,NaN,NaN,NaN,NaN,NaN,NaN,720,0,0
1,21600001,2016-10-25,Carmelo Anthony,Kristaps Porzingis,Joakim Noah,Courtney Lee,Derrick Rose,LeBron James,Kevin Love,Tristan Thompson,JR Smith,Kyrie Irving,1,0,0,1,NYK,jump ball,NaN,Joakim Noah,Tristan Thompson,NaN,NaN,NaN,0,NaN,0,Tristan Thompson,0,Derrick Rose,NaN,NaN,NaN,jump ball,NaN,NaN,NaN,NaN,NaN,Jump Ball Thompson vs. Noah: Tip to Rose,720,0,0
2,21600001,2016-10-25,Carmelo Anthony,Kristaps Porzingis,Joakim Noah,Courtney Lee,Derrick Rose,LeBron James,Kevin Love,Tristan Thompson,JR Smith,Kyrie Irving,1,2,0,2,NYK,shot,Joakim Noah,NaN,NaN,NaN,NaN,NaN,0,NaN,0,Derrick Rose,2,NaN,NaN,made,NaN,Driving Layup,1.0,4.0,8.0,24.6,5.8,Rose 1' Driving Layup (2 PTS) (Noah 1 AST),700,20,20
3,21600001,2016-10-25,Carmelo Anthony,Kristaps Porzingis,Joakim Noah,Courtney Lee,Derrick Rose,LeBron James,Kevin Love,Tristan Thompson,JR Smith,Kyrie Irving,1,2,0,3,CLE,miss,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0,Kevin Love,0,NaN,NaN,missed,NaN,Hook Shot,4.0,-11.0,36.0,23.9,85.4,MISS Love 4' Hook Shot,686,34,14
4,21600001,2016-10-25,Carmelo Anthony,Kristaps Porzingis,Joakim Noah,Courtney Lee,Derrick Rose,LeBron James,Kevin Love,Tristan Thompson,JR Smith,Kyrie Irving,1,2,0,4,NYK,rebound,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0,Joakim Noah,0,NaN,NaN,NaN,NaN,rebound defensive,NaN,NaN,NaN,NaN,NaN,Noah REBOUND (Off:0 Def:1),683,37,3

### I have a few goals in the data wrangling here:
1. Remove columns that hold little value or are merely descriptive.
2. Create new columns with more advanced stats.
3. Use the play-by-play dataframe to get aggregate shot data for each team.
4. Add a win/loss column to make supervised machine learning possible.

In [4]:
# remove descriptive or unwanted columns from df
cols = ['1Q', 
       '2Q',
       '3Q',
       '4Q',
       'OT1',
       'OT2',
       'OT3',
       'OT4',
       'MIN',
       'STARTING LINEUPS1',
       'STARTING LINEUPS2',
       'STARTING LINEUPS3',
       'STARTING LINEUPS4',
       'STARTING LINEUPS5',
       'TO']

df.drop(cols, inplace=True, axis=1)

### The below cell will create a column that holds win or loss data for each team and each game.

In [5]:
# add opponent scores to each row
df.loc[df['VENUE']=='Road', 'oppscore'] = df['F'].shift(-1)
df.loc[df['VENUE']=='Home', 'oppscore'] = df['F'].shift(1)

# function to do simple comparison of scores
def win_or_loss(row):
    if row['F'] > row['oppscore']:
        return 1
    else:
        return 0

# create win or loss column 
df['win_or_loss'] = df.apply(win_or_loss, axis=1)

In [6]:
# remove helper columns
# 'F' is final score, this is also found in the column 'PTS'
df.drop(['oppscore', 'F'], axis=1, inplace=True)

In [7]:
# add some advanced NBA statistics
# points per possession
df['points_per_poss'] = ((df['PTS'] / (df['FGA'] + 
                        (0.44 * df['FTA']))) * 
                        ((df['FGA'] + 
                        (0.44 * df['FTA'])) / df['POSS']))

In [8]:
# true shooting percentage
df['true_shooting_%'] = ((0.5 * df['PTS']) / (df['FGA'] + 0.44 * df['FTA']))

In [9]:
# offensive rebounds minute turnovers
df['Off_reb_minus_TO'] = (df['OR'] - df['TO TO'])

In [10]:
# add opponent field goal percentage to each row
df.loc[df['VENUE']=='Road', 'opp_fgpct'] = df['FG'].shift(-1) / df['FGA'].shift(-1)
df.loc[df['VENUE']=='Home', 'opp_fgpct'] = df['FG'].shift(1) / df['FGA'].shift(1)

In [11]:
# calculate turnover rate
df.loc[:, 'TO_rate'] = df['TO TO'] / df['POSS']

In [12]:
# calculate offensive rebounding percentage
df.loc[df['VENUE']=='Road', 'off_reb_pct'] = df['OR'] / (df['OR'] + df['DR'].shift(-1))
df.loc[df['VENUE']=='Home', 'off_reb_pct'] = df['OR'] / (df['OR'] + df['DR'].shift(1))

In [13]:
# free throw statistics
# free throws divided by attempted field goals
df.loc[:, 'free_throw_pct_of_FGA'] = df['FTA'] / df['FGA']

# free throw made percentage
df.loc[:, 'free_throw_pct'] = df['FT'] / df['FTA']

### Rest days might be an important indicator of wins/losses but I want to represent these values with numbers instead of strings.

In [14]:
df['REST DAYS'].unique()

array(['3+', 'B2B', '1', '2', '3IN4', '3IN4-B2B', '4IN5-B2B'], dtype=object)

In [15]:
# clean up 'REST DAYS'
rest_days_dict = {'3+':3,
                 'B2B':0,
                 '1':1,
                 '2':2,
                 '3IN4':0.75,
                 '3IN4-B2B':0.5,
                 '4IN5-B2B':0.2}

df['rest_days_adj'] = df['REST DAYS'].map(rest_days_dict)

In [16]:
# rescale some of the raw boxscore stats to be percentages per possession
df['made_FG_poss'] = df['FG'] / df['POSS']

df['attempted_FG_poss'] = df['FGA'] / df['POSS']

df['total_rebounds_poss'] = df['TOT'] / df['POSS'] 

# 3 pointer percentage
df['3P_pct'] = df['3P'] / df['3PA']

In [17]:
df.head()

,DATE,TEAMS,VENUE,FG,FGA,3P,3PA,FT,FTA,OR,DR,TOT,A,PF,ST,TO TO,BL,PTS,POSS,PACE,OEFF,DEFF,REST DAYS,win_or_loss,points_per_poss,true_shooting_%,Off_reb_minus_TO,opp_fgpct,TO_rate,off_reb_pct,free_throw_pct_of_FGA,free_throw_pct,rest_days_adj,made_FG_poss,attempted_FG_poss,total_rebounds_poss,3P_pct
0,2016-10-25,New York,Road,32,87,9,27,15,20,13,29,42,17,22,6,18,6,88,100.4,100.4,87.7,116.6,3+,0,0.876494,0.459290,-5,0.478723,0.179283,0.245283,0.229885,0.750000,3.0,0.318725,0.866534,0.418327,0.333333
1,2016-10-25,Cleveland,Home,45,94,13,35,14,19,11,40,51,31,22,12,15,5,117,100.4,100.4,116.6,87.7,3+,1,1.165339,0.571512,-4,0.367816,0.149402,0.275000,0.202128,0.736842,3.0,0.448207,0.936255,0.507968,0.371429
2,2016-10-25,Utah,Road,40,82,8,24,16,16,6,25,31,19,19,9,14,5,104,92.5,92.5,112.4,122.1,3+,0,1.124324,0.584007,-8,0.520000,0.151351,0.171429,0.195122,1.000000,3.0,0.432432,0.886486,0.335135,0.333333
3,2016-10-25,Portland,Home,39,75,13,19,22,22,5,29,34,22,18,5,13,3,113,92.5,92.5,122.1,112.4,3+,1,1.221622,0.667218,-8,0.487805,0.140541,0.166667,0.293333,1.000000,3.0,0.421622,0.810811,0.367568,0.684211
4,2016-10-25,San Antonio,Road,47,98,12,24,23,26,21,34,55,25,19,13,14,3,129,98.8,98.8,130.6,101.2,3+,1,1.305668,0.589364,7,0.470588,0.141700,0.437500,0.265306,0.884615,3.0,0.475709,0.991903,0.556680,0.500000

### I want to be able to merge the box score and play-by-play dataframes later on. This will require adding the game_id to the box score dataframe. I want to match on team name and date, but that presents another problem: one dataframe has the name spelled out and the other has an abbreviation.

In [18]:
# convert date to datetime object to select the range
dfp['date'] = pd.to_datetime(dfp['date'])

# I don't want to include playoff data 
# playoffs started on 4/15/17
dfp = dfp[dfp['date'].isin(pd.date_range("2016-10-25", "2017-4-12"))]

# select only the columns relevant for the task at hand
dfp_id = dfp.filter(['game_id', 'date', 'team_in_possession'])
dfp_id = dfp_id.dropna()

# there are many rows for each game
# drop duplicates
dfp_id = dfp_id.drop_duplicates()
dfp_id.reset_index(inplace=True, drop=True)
dfp_id.head()

    game_id       date team_in_possession
0  21600001 2016-10-25                NYK
1  21600001 2016-10-25                CLE
2  21600002 2016-10-25                UTA
3  21600002 2016-10-25                POR
4  21600003 2016-10-25                SAS

### I need to add abbreviations to the box score dataframe.

In [19]:
dfp.team_in_possession.unique()

array([nan, 'NYK', 'CLE', 'UTA', 'POR', 'SAS', 'GSW', 'MIA', 'ORL', 'IND',
       'DAL', 'BKN', 'BOS', 'DET', 'TOR', 'MIL', 'CHA', 'MIN', 'MEM',
       'DEN', 'NOP', 'OKC', 'PHI', 'SAC', 'PHX', 'HOU', 'LAL', 'WAS',
       'ATL', 'CHI', 'LAC'], dtype=object)

In [20]:
df.TEAMS.unique()

array(['New York', 'Cleveland', 'Utah', 'Portland', 'San Antonio',
       'Golden State', 'Miami', 'Orlando', 'Dallas', 'Indiana', 'Brooklyn',
       'Boston', 'Detroit', 'Toronto', 'Charlotte', 'Milwaukee',
       'Minnesota', 'Memphis', 'Denver', 'New Orleans', 'Oklahoma City',
       'Philadelphia', 'Sacramento', 'Phoenix', 'Houston', 'LA Lakers',
       'Washington', 'Atlanta', 'Chicago', 'LA Clippers'], dtype=object)

In [21]:
# create dict and map to df
team_names = {'New York':'NYK',
             'Cleveland':'CLE',
             'Utah':'UTA',
             'Portland':'POR',
             'San Antonio':'SAS',
             'Golden State':'GSW',
             'Miami':'MIA',
             'Orlando':'ORL',
             'Indiana':'IND',
             'Brooklyn':'BKN',
             'Boston':'BOS',
             'Detroit':'DET',
             'Toronto':'TOR',
             'Charlotte':'CHA',
             'Milwaukee':'MIL',
             'Minnesota':'MIN',
             'Memphis':'MEM',
             'Denver':'DEN',
             'New Orleans':'NOP',
             'Oklahoma City':'OKC',
             'Philadelphia':'PHI',
             'Sacramento':'SAC',
             'Phoenix':'PHX',
             'Houston':'HOU',
             'LA Lakers':'LAL',
             'Washington':'WAS',
             'Atlanta':'ATL',
             'Chicago':'CHI',
             'LA Clippers':'LAC',
             'Dallas':'DAL'}

df['team_in_possession'] = df.TEAMS.map(team_names)

In [22]:
# set the columns to merge on, and change date column to datetime
cols = ['date', 'team_in_possession']
df['date'] = df['DATE']
df['date'] = pd.to_datetime(df['date'])

In [23]:
# perform the merge
df2 = pd.DataFrame.merge(df, dfp_id, on=cols)
df2.head()

,DATE,TEAMS,VENUE,FG,FGA,3P,3PA,FT,FTA,OR,DR,TOT,A,PF,ST,TO TO,BL,PTS,POSS,PACE,OEFF,DEFF,REST DAYS,win_or_loss,points_per_poss,true_shooting_%,Off_reb_minus_TO,opp_fgpct,TO_rate,off_reb_pct,free_throw_pct_of_FGA,free_throw_pct,rest_days_adj,made_FG_poss,attempted_FG_poss,total_rebounds_poss,3P_pct,team_in_possession,date,game_id
0,2016-10-25,New York,Road,32,87,9,27,15,20,13,29,42,17,22,6,18,6,88,100.4,100.4,87.7,116.6,3+,0,0.876494,0.459290,-5,0.478723,0.179283,0.245283,0.229885,0.750000,3.0,0.318725,0.866534,0.418327,0.333333,NYK,2016-10-25,21600001
1,2016-10-25,Cleveland,Home,45,94,13,35,14,19,11,40,51,31,22,12,15,5,117,100.4,100.4,116.6,87.7,3+,1,1.165339,0.571512,-4,0.367816,0.149402,0.275000,0.202128,0.736842,3.0,0.448207,0.936255,0.507968,0.371429,CLE,2016-10-25,21600001
2,2016-10-25,Utah,Road,40,82,8,24,16,16,6,25,31,19,19,9,14,5,104,92.5,92.5,112.4,122.1,3+,0,1.124324,0.584007,-8,0.520000,0.151351,0.171429,0.195122,1.000000,3.0,0.432432,0.886486,0.335135,0.333333,UTA,2016-10-25,21600002
3,2016-10-25,Portland,Home,39,75,13,19,22,22,5,29,34,22,18,5,13,3,113,92.5,92.5,122.1,112.4,3+,1,1.221622,0.667218,-8,0.487805,0.140541,0.166667,0.293333,1.000000,3.0,0.421622,0.810811,0.367568,0.684211,POR,2016-10-25,21600002
4,2016-10-25,San Antonio,Road,47,98,12,24,23,26,21,34,55,25,19,13,14,3,129,98.8,98.8,130.6,101.2,3+,1,1.305668,0.589364,7,0.470588,0.141700,0.437500,0.265306,0.884615,3.0,0.475709,0.991903,0.556680,0.500000,SAS,2016-10-25,21600003

### The next step is to condense 600,000 rows of play-by-play data to a metric that might prove useful - a count of the different types of shots each team takes during each game. This count will be merged with the main box score dataframe.

In [24]:
# if 'team_in_possession' is NaN then the play did not involve a team
# remove NaN from that column
dfp = dfp.loc[dfp.team_in_possession.notnull()]
dfp.head()

,game_id,date,a1,a2,a3,a4,a5,h1,h2,h3,h4,h5,period,away_score,home_score,play_id,team_in_possession,event_type,assist,away,home,block,entered,left,num,opponent,outof,player,points,possession,reason,result,steal,type,shot_distance,original_x,original_y,converted_x,converted_y,description,remaining_time_sec,elapsed_sec,play_length_sec
1,21600001,2016-10-25,Carmelo Anthony,Kristaps Porzingis,Joakim Noah,Courtney Lee,Derrick Rose,LeBron James,Kevin Love,Tristan Thompson,JR Smith,Kyrie Irving,1,0,0,1,NYK,jump ball,NaN,Joakim Noah,Tristan Thompson,NaN,NaN,NaN,0,NaN,0,Tristan Thompson,0,Derrick Rose,NaN,NaN,NaN,jump ball,NaN,NaN,NaN,NaN,NaN,Jump Ball Thompson vs. Noah: Tip to Rose,720,0,0
2,21600001,2016-10-25,Carmelo Anthony,Kristaps Porzingis,Joakim Noah,Courtney Lee,Derrick Rose,LeBron James,Kevin Love,Tristan Thompson,JR Smith,Kyrie Irving,1,2,0,2,NYK,shot,Joakim Noah,NaN,NaN,NaN,NaN,NaN,0,NaN,0,Derrick Rose,2,NaN,NaN,made,NaN,Driving Layup,1.0,4.0,8.0,24.6,5.8,Rose 1' Driving Layup (2 PTS) (Noah 1 AST),700,20,20
3,21600001,2016-10-25,Carmelo Anthony,Kristaps Porzingis,Joakim Noah,Courtney Lee,Derrick Rose,LeBron James,Kevin Love,Tristan Thompson,JR Smith,Kyrie Irving,1,2,0,3,CLE,miss,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0,Kevin Love,0,NaN,NaN,missed,NaN,Hook Shot,4.0,-11.0,36.0,23.9,85.4,MISS Love 4' Hook Shot,686,34,14
4,21600001,2016-10-25,Carmelo Anthony,Kristaps Porzingis,Joakim Noah,Courtney Lee,Derrick Rose,LeBron James,Kevin Love,Tristan Thompson,JR Smith,Kyrie Irving,1,2,0,4,NYK,rebound,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0,Joakim Noah,0,NaN,NaN,NaN,NaN,rebound defensive,NaN,NaN,NaN,NaN,NaN,Noah REBOUND (Off:0 Def:1),683,37,3
5,21600001,2016-10-25,Carmelo Anthony,Kristaps Porzingis,Joakim Noah,Courtney Lee,Derrick Rose,LeBron James,Kevin Love,Tristan Thompson,JR Smith,Kyrie Irving,1,2,0,5,NYK,miss,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0,Carmelo Anthony,0,NaN,NaN,missed,NaN,Jump Shot,20.0,148.0,129.0,10.2,17.9,MISS Anthony 20' Jump Shot,676,44,7

In [25]:
# reduce dataframe to columns of interest
dfp_r = dfp.filter(['game_id', 'team_in_possession', 'type', 'shot_distance'], axis=1)
dfp_r.head()

    game_id team_in_possession               type  shot_distance
1  21600001                NYK          jump ball            NaN
2  21600001                NYK      Driving Layup            1.0
3  21600001                CLE          Hook Shot            4.0
4  21600001                NYK  rebound defensive            NaN
5  21600001                NYK          Jump Shot           20.0

In [26]:
# if 'shot_distance' is NaN the stat recorded on that row was not a shot
dfp_r = dfp_r.loc[dfp_r.shot_distance.notnull()]
dfp_r.head()

    game_id team_in_possession           type  shot_distance
2  21600001                NYK  Driving Layup            1.0
3  21600001                CLE      Hook Shot            4.0
5  21600001                NYK      Jump Shot           20.0
7  21600001                NYK        unknown            2.0
8  21600001                CLE      Jump Shot           11.0

In [27]:
# check 'type' for anything else that should not be there
dfp_r.type.unique()

array(['Driving Layup', 'Hook Shot', 'Jump Shot', 'unknown',
       'Floating Jump Shot', 'Turnaround Jump Shot', 'Layup',
       'Running Layup', 'Alley Oop Dunk', 'Putback Dunk',
       'Step Back Jump Shot', 'Running Dunk', 'Running Reverse Layup',
       'Dunk', 'Pullup Jump Shot', 'Driving Dunk', 'Fadeaway Jumper',
       'Jump Bank Shot', 'Driving Bank Shot', 'Finger Roll Layup',
       'Turnaround Hook Shot', 'Reverse Layup', 'Putback Layup',
       'Driving Finger Roll Layup', 'Driving Reverse Layup',
       'Reverse Dunk', 'Driving Hook Shot', 'Turnaround Fadeaway ',
       'Running Jump Shot', 'Running Finger Roll Layup', 'Alley Oop Layup',
       'Driving Bank Hook Shot', 'Turnaround Bank Shot',
       'Fadeaway Bank Shot', 'Turnaround Bank Hook Shot',
       'Pullup Bank Shot', 'Hook Bank Shot', 'Driving Jump Shot',
       'Running Hook Shot'], dtype=object)

In [28]:
# unknown is the only one to remove
shot_df = dfp_r.loc[(dfp_r['type'] != 'unknown')].copy()

In [29]:
# check distances to see the range
shot_df.shot_distance.unique()

array([  1.,   4.,  20.,  11.,  25.,  18.,  16.,  12.,   9.,   0.,  24.,
        23.,  26.,   2.,  15.,  14.,  52.,   3.,  22.,   5.,   8.,  17.,
        19.,  27.,  10.,  13.,  28.,   7.,  29.,  21.,   6.,  69.,  31.,
        30.,  32.,  40.,  36.,  71.,  38.,  46.,  49.,  41.,  55.,  47.,
        35.,  54.,  53.,  34.,  57.,  66.,  43.,  33.,  81.,  48.,  79.,
        51.,  39.,  50.,  42.,  45.,  37.,  44.,  56.,  59.,  58.,  78.,
        83.,  61.,  62.,  60.,  63.,  72.,  65.,  87.,  84.,  70.,  74.,
        68.,  64.,  77.,  67.,  82.,  80.,  75.,  73.,  85.])

In [30]:
# function to reduce the many types of shots to just a few
# based on range from the basket
def shot_type(c):
    if (c['shot_distance'] >= 0) & (c['shot_distance'] < 5):
        return 'close'
    elif (c['shot_distance'] >= 5) & (c['shot_distance'] < 22):
        return 'mid-range'
    elif (c['shot_distance'] >= 22) & (c['shot_distance'] <= 35):
        return '3-pointer'
    else:
        return 'long-range'

In [31]:
# create new column 
shot_df.loc[:, 'shot_type'] = shot_df.apply(shot_type, axis=1)
shot_df.head()

     game_id team_in_possession           type  shot_distance  shot_type
2   21600001                NYK  Driving Layup            1.0      close
3   21600001                CLE      Hook Shot            4.0      close
5   21600001                NYK      Jump Shot           20.0  mid-range
8   21600001                CLE      Jump Shot           11.0  mid-range
10  21600001                CLE      Jump Shot           25.0  3-pointer

In [32]:
# drop columns that are no longer needed
cols = ['type', 'shot_distance']
shot_df.drop(cols, axis=1, inplace=True)
shot_df.head()

     game_id team_in_possession  shot_type
2   21600001                NYK      close
3   21600001                CLE      close
5   21600001                NYK  mid-range
8   21600001                CLE  mid-range
10  21600001                CLE  3-pointer

In [33]:
# pivot to get a count of each type of shot for each team/game
shot_df = shot_df.pivot_table(index=['game_id', 'team_in_possession'], 
                              columns='shot_type', 
                              aggfunc=len, 
                              fill_value=0)

# reset index to be in a usable format
shot_df = shot_df.reset_index()
shot_df.head()

shot_type,game_id,team_in_possession,3-pointer,close,long-range,mid-range
0,21600001,CLE,36,30,0,21
1,21600001,NYK,29,19,1,34
2,21600002,POR,21,17,0,29
3,21600002,UTA,25,23,0,30
4,21600003,GSW,35,19,1,18

In [34]:
# merge with box score dataframe
df2 = pd.DataFrame.merge(df2, shot_df, on=['game_id', 'team_in_possession'])
df2.head()

,DATE,TEAMS,VENUE,FG,FGA,3P,3PA,FT,FTA,OR,DR,TOT,A,PF,ST,TO TO,BL,PTS,POSS,PACE,OEFF,DEFF,REST DAYS,win_or_loss,points_per_poss,true_shooting_%,Off_reb_minus_TO,opp_fgpct,TO_rate,off_reb_pct,free_throw_pct_of_FGA,free_throw_pct,rest_days_adj,made_FG_poss,attempted_FG_poss,total_rebounds_poss,3P_pct,team_in_possession,date,game_id,3-pointer,close,long-range,mid-range
0,2016-10-25,New York,Road,32,87,9,27,15,20,13,29,42,17,22,6,18,6,88,100.4,100.4,87.7,116.6,3+,0,0.876494,0.459290,-5,0.478723,0.179283,0.245283,0.229885,0.750000,3.0,0.318725,0.866534,0.418327,0.333333,NYK,2016-10-25,21600001,29,19,1,34
1,2016-10-25,Cleveland,Home,45,94,13,35,14,19,11,40,51,31,22,12,15,5,117,100.4,100.4,116.6,87.7,3+,1,1.165339,0.571512,-4,0.367816,0.149402,0.275000,0.202128,0.736842,3.0,0.448207,0.936255,0.507968,0.371429,CLE,2016-10-25,21600001,36,30,0,21
2,2016-10-25,Utah,Road,40,82,8,24,16,16,6,25,31,19,19,9,14,5,104,92.5,92.5,112.4,122.1,3+,0,1.124324,0.584007,-8,0.520000,0.151351,0.171429,0.195122,1.000000,3.0,0.432432,0.886486,0.335135,0.333333,UTA,2016-10-25,21600002,25,23,0,30
3,2016-10-25,Portland,Home,39,75,13,19,22,22,5,29,34,22,18,5,13,3,113,92.5,92.5,122.1,112.4,3+,1,1.221622,0.667218,-8,0.487805,0.140541,0.166667,0.293333,1.000000,3.0,0.421622,0.810811,0.367568,0.684211,POR,2016-10-25,21600002,21,17,0,29
4,2016-10-25,San Antonio,Road,47,98,12,24,23,26,21,34,55,25,19,13,14,3,129,98.8,98.8,130.6,101.2,3+,1,1.305668,0.589364,7,0.470588,0.141700,0.437500,0.265306,0.884615,3.0,0.475709,0.991903,0.556680,0.500000,SAS,2016-10-25,21600003,24,25,0,43

In [35]:
# find percentages for each type of shot
# based on total field goals attempted
df2['3_point_pct_of_fga'] = df2['3PA'] / df2['FGA']
df2['close_pct_of_fga'] = df2['close'] / df2['FGA']
df2['long_range_pct_of_fga'] = df2['long-range'] / df2['FGA']
df2['mid_range_pct_of_fga'] = df2['mid-range'] / df2['FGA']

### The final step is to remove columns that shouldn't have an impact on the machine learning algorithms, like date or team name and write the final dataframe to a csv file.

In [36]:
# drop unwanted columns
cols = ['DATE', 
        'date', 
        'TEAMS', 
        'VENUE', 
        'team_in_possession', 
        'game_id', 
        'REST DAYS',
        '3-pointer']

df2.drop(cols, axis=1, inplace=True)
df2.head()

,FG,FGA,3P,3PA,FT,FTA,OR,DR,TOT,A,PF,ST,TO TO,BL,PTS,POSS,PACE,OEFF,DEFF,win_or_loss,points_per_poss,true_shooting_%,Off_reb_minus_TO,opp_fgpct,TO_rate,off_reb_pct,free_throw_pct_of_FGA,free_throw_pct,rest_days_adj,made_FG_poss,attempted_FG_poss,total_rebounds_poss,3P_pct,close,long-range,mid-range,3_point_pct_of_fga,close_pct_of_fga,long_range_pct_of_fga,mid_range_pct_of_fga
0,32,87,9,27,15,20,13,29,42,17,22,6,18,6,88,100.4,100.4,87.7,116.6,0,0.876494,0.459290,-5,0.478723,0.179283,0.245283,0.229885,0.750000,3.0,0.318725,0.866534,0.418327,0.333333,19,1,34,0.310345,0.218391,0.011494,0.390805
1,45,94,13,35,14,19,11,40,51,31,22,12,15,5,117,100.4,100.4,116.6,87.7,1,1.165339,0.571512,-4,0.367816,0.149402,0.275000,0.202128,0.736842,3.0,0.448207,0.936255,0.507968,0.371429,30,0,21,0.372340,0.319149,0.000000,0.223404
2,40,82,8,24,16,16,6,25,31,19,19,9,14,5,104,92.5,92.5,112.4,122.1,0,1.124324,0.584007,-8,0.520000,0.151351,0.171429,0.195122,1.000000,3.0,0.432432,0.886486,0.335135,0.333333,23,0,30,0.292683,0.280488,0.000000,0.365854
3,39,75,13,19,22,22,5,29,34,22,18,5,13,3,113,92.5,92.5,122.1,112.4,1,1.221622,0.667218,-8,0.487805,0.140541,0.166667,0.293333,1.000000,3.0,0.421622,0.810811,0.367568,0.684211,17,0,29,0.253333,0.226667,0.000000,0.386667
4,47,98,12,24,23,26,21,34,55,25,19,13,14,3,129,98.8,98.8,130.6,101.2,1,1.305668,0.589364,7,0.470588,0.141700,0.437500,0.265306,0.884615,3.0,0.475709,0.991903,0.556680,0.500000,25,0,43,0.244898,0.255102,0.000000,0.438776

In [37]:
df2.shape

(2460, 40)

In [39]:
df2.to_csv('merged_nba_data.csv')